html {
  scroll-behavior: smooth;
}
.slick-dots li button:before {
  background-color: #ac47f5;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  color: #ffc425;
  overflow: hidden;
  text-indent: -9999px;
}
.slick-slide {
  visibility: hidden;
}
.slick-slide.slick-active {
  visibility: visible;
}
