.hamburger--top {
  height: 2px;
  width: 22px;
  background-color: rgb(236, 236, 236);
  z-index: 40;
}
.hamburger--middle {
  height: 2px;
  width: 22px;
  background-color: rgb(236, 236, 236);
}
.hamburger--bottom {
  height: 2px;
  width: 22px;
  background-color: rgb(236, 236, 236);
}

.nav {
  -webkit-backface-visibility: hidden;
}
